* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(18, 18, 18);
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
h1 {
  color: transparent;
  background: linear-gradient(
    rgb(250, 78, 10),
    rgb(247, 12, 204),
    rgb(0, 106, 255),
    rgb(48, 248, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  font-size: 8vmin;
  animation: gradientAnimation 3s linear infinite;
}
.game {
  margin-top: 15px;
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgb(0, 0, 0.1);
  font-size: 10vmin;
 color: brown;
  background-color: rgb(157, 166, 166);
}
.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  color: azure;
  background: linear-gradient(135deg, #367676, #7fc5c6);
  border-radius: 1rem;
  border: none;
 
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  color: azure;
  background: linear-gradient(135deg, #367676, #7fc5c6);
  border-radius: 1rem;
  border: none;
  margin-top: 10px;
}
#msg {
   color: transparent;
  background: linear-gradient(
    rgb(250, 78, 10),
    rgb(247, 12, 204),
    rgb(0, 106, 255),
    rgb(48, 248, 255)
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  font-size: 8vmin;
  animation: gradientAnimation 3s linear infinite;
}
@keyframes gradientAnimation {
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.msg-container {
  height: 30vmin;
}
.hide {
  display: none;
}
